html {
  background: #eee;
}

body {
  font-family: "Open Sans",sans-serif;
  line-height: 1.4;
  font-size: 14px;
  color: #495b66;
  box-sizing: border-box;
}
.header {
  background: #fff;
  padding: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
}
.title {
  margin: 0;
  font-weight: 400;
}
.title--large {
  font-size: 24px;
}
.header .title {
  text-align: center;
}
.main-content {
  background: #fff;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 960px;
  box-shadow: 0px 3px 6px #d5d3d3;
}
.background-grey {
  padding: 24px 38px;
  background: #eff4f4;
}
.todo-form {
  display: flex;
  font-size: 1.2em;
  margin-bottom: 20px;
  }
input {
  border: 1px solid #dcdcdc;
}
.toggle-section {
  font-size: 1.2em;
  display: flex;
}
ul.todo-list {
  list-style: none;
  margin: 0;
  font-size: 1rem;
  padding:  0 24px 24px 24px;
}
ul.todo-list li {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
ul.todo-list .completed label {
  color: #70dbad;
  text-decoration: line-through ;
}
ul.todo-list li:last-child {
  border: none;
}
.todo-input {
  flex: 1;
  min-width: 0;
  min-height: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 11px 12px 8px 12px;
  outline: none;
  font-size: 1.1rem;
  font-style: italic;
  margin: 0;
}
.checkbox {
  margin-top: 8px;
  margin-right: 1em;
}
.edit-todo {
  flex: 1;
  position: relative;
}
.todo-label:after {
  content: 'edited';
  color: #999;
  font-size: .8em;
  font-style: italic;
}
.btn {
  border: none;
  font-size: .8em;
  padding: 12px 8px;
  color: #fff;
  background-color: #70dbad;
  border: 1px solid #70dbad;
  margin-left: 5px;
  min-width: 70px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 600;
}

.btn--link {
  border: 1px solid #70dbad;
  background: #fff;
  color: #70dbad;
}

.btn--warrning {
  background: #ffc3bf;
  border: 1px solid #ffc3bf;
  color: #992f28;
}
